$skin-colour: peachpuff;
$hair-colour: #4a452c;
$eye-colour: #6d3709;
$sweater-colour: black;
$cheek-colour: red;

$timing: 2s;

@mixin dim($width, $height) {
  width: #{$width}em;
  height: #{$height}em;
}

@mixin pos($top, $left) {
  top: #{$top}em;
  left: #{$left}em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

me {
  @include dim(30, 30);
  margin: {
    top: -15em;
    left: -15em;
  }
  top: 50%;
  left: 50%;
  
  @media (orientation: landscape) {
    font-size: 3vh;
  }

  @media (orientation: portrait) {
    font-size: 3vw;
  }

  &,
  *,
  *::before,
  *::after {
    display: block;
    position: absolute;
  }

  face {
    @include dim(13.6, 21.6);
    @include pos(1.8, 8.2);
    background-color: $skin-colour;
    border-radius: 6.8em;
    box-shadow: 0 2em 0 0.4em $hair-colour; // beard
  }

  eyes-and-nose {
    @include dim(2, 2);
    @include pos(12, 10.6);
    background-color: black;
    border-radius: 50%;
    box-shadow:
      // nose
      3.55em 1.6em 0 1em $skin-colour,
      // nose shadow
      4em 2.2em 0 1em rgba(black, 0.2),
      // other eye pupil
      7.1em 0 0 0 black,
      // irides
      0 0 0 0.4em $eye-colour,
      7.1em 0 0 0.4em $eye-colour,
      // sclerae
      0 0 0 1em white,
      7.1em 0 0 1em white,
      
      -1em 3.5em 3em rgba($cheek-colour, 0.2),
      8.1em 3.5em 3em rgba($cheek-colour, 0.2);
    transition: box-shadow $timing;

    // reflections
    &::after {
      @include dim(1, 1);
      @include pos(-0.25, -0.25);
      background-color: white;
      border-radius: 50%;
      box-shadow: 7em 0 0 0 white;
      content: '';
    }
  }

  eyebrows {
    @include pos(9.5, 8);
    transform: rotate3d(0, 0, 1, -4deg);

    &,
    &::after {
      @include dim(7, 3);
      border: {
        width: 1em;
        style: solid;
        color: $hair-colour transparent transparent transparent;
        radius: 50%;
      }
      display: block;
      transition: transform $timing;
    }

    &::after {
      @include pos(-0.8, 0);
      content: '';
      transform: rotate3d(0, 0, 1, 4deg) translate3d(6em, 0, 0) rotate3d(0, 0, 1, 4deg);
    }
  }

  mouth {
    @include dim(6, 4);
    @include pos(17, 12);
    border: {
      width: 0.4em;
      style: solid;
      color: transparent transparent black transparent;
      radius: 50%;
    }
    transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 0deg);
    transition:
      width #{$timing / 2},
      height #{$timing / 2},
      transform #{$timing / 2};
  }

  ears {

    &,
    &::after {
      @include dim(2, 6.8);
      @include pos(10.8, 6);
      background-color: $skin-colour;
      border-radius: 50%;
      transform: rotate(-6deg);
    }

    &::after {
      @include pos(0, 0);
      content: '';
      transform: rotate(6deg) translateX(16em) rotate(6deg);
    }
  }

  hair {
    @include dim(16, 14);
    @include pos(3.2, 7);
    background-color: $hair-colour;
    border-radius: 7rem;

    // thin hair on top and monobrow
    &::after {
      $hair-colour: rgba($hair-colour, 0.3);
      $stop-one: 1.5em;
      $stop-two: 8.2em;
      $stop-three: 9.2em;

      @include dim(5, 10);
      @include pos(-1.5, 5.5);

      background-image: linear-gradient(to bottom,
        $hair-colour $stop-one,
        transparent $stop-one,
        transparent $stop-two,
        $hair-colour $stop-two,
        $hair-colour $stop-three,
        transparent $stop-three);
      clip-path: polygon(0 0, 100% 0, 50% 100%);
      content: '';
      z-index: 100;
    }
  }

  goatee {
    @include dim(7.5, 7.5);
    @include pos(17, 11.2);
    background-color: $hair-colour;
    border-radius: 1.4em 1.4em 0 0;

    // shaved part
    &::before {
      @include dim(5.5, 4.2);
      @include pos(2, 1);
      background-color: $skin-colour;
      border-radius: 0 0 2.75em 2.75em / 0 0 0.5em 0.5em;
      content: '';
    }

    // triangle
    &::after {
      @include dim(0, 0);
      @include pos(4.7, 2.85);
      border: {
        width: 1.7em 1em 0 1em;
        style: solid;
        color: $hair-colour transparent;
      }
      content: '';
    }
  }

  neck {
    @include dim(8.8, 3.8);
    @include pos(24, 10.6);
    background-color: $skin-colour;

    &::after {
      @include dim(11.8, 1.4);
      @include pos(3.7, -1.5);
      background-color: black;
      border-radius: 0.7em;
      content: '';
      display: block;
    }
  }

  &:hover {

    eyebrows {
      transform: rotate(-8deg);

      &::after {
        transform: rotate(8deg) translateX(6em) rotate(8deg);
      }
    }

    mouth {
      @include dim(14, 18);
      transform: translate3d(-5.6em, -13.5em, 0) rotate3d(0, 0, 1, -14deg);
      transition:
        width $timing,
        height $timing,
        transform $timing,
    }
    
    eyes-and-nose {
      box-shadow:
      // nose
      3.55em 1.6em 0 1em $skin-colour,
      // nose shadow
      4em 2.2em 0 1em rgba(black, 0.2),
      // other eye pupil
      7.1em 0 0 0 black,
      // irides
      0 0 0 0.4em $eye-colour,
      7.1em 0 0 0.4em $eye-colour,
      // sclerae
      0 0 0 1em white,
      7.1em 0 0 1em white,
      
      -1em 3.5em 3em rgba($cheek-colour, 0.5),
      8.1em 3.5em 3em rgba($cheek-colour, 0.5);
    }
  }
}
